<p-sidebar [(visible)]="display"
           [position]="'right'"
           [transitionOptions]="'300 cubic-bezier(0, 0, 0.2, 1)'"
           styleClass="p-sidebar-lg"
>
  <h3>
    <app-manage-customer>
    </app-manage-customer>
  </h3>

</p-sidebar>

<div class="flex align-items-stretch" style="height: 99vh;">
  <div class="flex flex-column align-items-stretch border-right-1 col-2 border-green-200">
    <app-menu-bar></app-menu-bar>
  </div>

  <div class="flex flex-column flex-grow-1">
    <app-header-bar>

    </app-header-bar>

    <div class="main-container p-3">
      <button
        pButton
        icon="pi pi-plus"
        label="Create customer"
        class="p-button-success"
        (click)="display=true"
        p
      ></button>
      <div class="">
        <app-customer-card *ngFor="let customer of customers; let index=index"
                           [customer]="customer"
                           [customerIndex]="index">
        </app-customer-card>

      </div>
    </div>

  </div>


</div>
